<app-container-page>
  <div class="container pt-4">
    <!-- Presentazione -->
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <p class="card-text">
              Benvenuto in MyGRV2, il portale per gestire a 360 gradi la tua
              esperienza Live a DEUS. Seleziona dai box sottostanti o dal menù
              in cima alla pagina le operazioni che vuoi svolgere.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-2">
      <!-- Personaggi Creati -->
      <div
        class="col-md-4 mb-2"
        *ngIf="userService.PlayerData && userService.PlayerData.giocatore"
      >
        <div class="card text-white bg-success">
          <div class="card-body">
            <div class="row">
              <div class="col-8 align-self-center">
                <h5 class="card-title mb-0">
                  <i class="fa fa-user"></i> Personaggi creati
                </h5>
              </div>
              <div class="col-4 text-right">
                <div class="btn btn-light btn-lg btn-round text-success">
                  {{ playerCharacters.length }}
                </div>
              </div>
            </div>
          </div>
        </div>

        <button
          type="button"
          class="btn btn-primary btn-block mt-2"
          (click)="openCharactersList()"
        >
          Gestisci i tuoi personaggi
        </button>
      </div>

      <!-- Live Giocati -->
      <div
        class="col-md-4 mb-2"
        *ngIf="userService.PlayerData && userService.PlayerData.giocatore"
      >
        <div class="card text-white bg-danger">
          <div class="card-body">
            <div class="row">
              <div class="col-8 align-self-center">
                <h5 class="card-title mb-0">
                  <i class="fa fa-calendar"></i> Giorni Giocati
                </h5>
              </div>
              <div class="col-4 text-right">
                <div class="btn btn-light btn-lg btn-round text-danger">
                  {{ playedDays }}
                </div>
              </div>
            </div>
          </div>
        </div>

        <button
          type="button"
          class="btn btn-primary btn-block mt-2"
          (click)="openEventsList()"
        >
          Iscriviti al prossimo LIVE
        </button>
      </div>

      <!-- Comunicazioni -->
      <!--
        <div class="col-md-4 mb-2">
          <div class="card text-white bg-primary">
            <div class="card-body">

              <div class="row">
                <div class="col-8 align-self-center">
                  <h5 class="card-title mb-0">
                    <i class="fa fa-bell"></i>
                    Nuovi messaggi
                  </h5>
                </div>
                <div class="col-4 text-right">
                  <div class="btn btn-light btn-lg btn-round text-primary">
                    0
                  </div>
                </div>
              </div>

            </div>
          </div>

          <button type="button" class="btn btn-primary btn-block mt-2" [disabled]="true">
            Vedi tutti i messaggi
          </button>
        </div>
      -->
    </div>
  </div>
</app-container-page>
