<app-container-page>
  <div class="container pt-4">
    <div class="row">
      <div class="col-12">
        <h1>Gestione Giocatori</h1>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-12">

        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Nome</th>
                <th>Cognome</th>
                <th>Recapito</th>
                <th>E-Mail</th>
                <th>Scarico Resp.</th>
                <th>Quota Assoc.</th>
                <th style="width: 100px">Ruoli</th>
                <th>&nbsp;</th>
              </tr>
              <tr>
                <th>
                  <input type="text" class="form-control form-control-sm" [(ngModel)]="filters.nome">
                </th>
                <th>
                  <input type="text" class="form-control form-control-sm" [(ngModel)]="filters.cognome">
                </th>
                <th>
                  <input type="text" class="form-control form-control-sm" [(ngModel)]="filters.recapito">
                </th>
                <th>
                  <input type="text" class="form-control form-control-sm" [(ngModel)]="filters.recapitomail">
                </th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let player of playersList | PlayerFilter :  filters.nome : filters.cognome : filters.recapito : filters.recapitomail">
                <td>{{ player.nome }}</td>
                <td>{{ player.cognome }}</td>
                <td>{{ player.recapito }}</td>
                <td>{{ player.recapitomail }}</td>
                <td>{{ player.dataScaricoResponsabilita | date : 'dd/MM/yyyy' }}</td>
                <td>{{ player.dataQuotaAssociativa | date : 'dd/MM/yyyy' }}</td>
                <td>
                  <i class="fa fa-user mr-1" container="body" [tooltip]="'Giocatore'" *ngIf="player.giocatore"></i>
                  <i class="fa fa-money-bill-alt mr-1" container="body" [tooltip]="'Segreteria'" *ngIf="player.segreteria"></i>
                  <i class="fa fa-book mr-1" container="body" [tooltip]="'Master'" *ngIf="player.master"></i>
                </td>
                <td>
                  <button type="button" class="btn btn-primary btn-sm" [tooltip]="'Modifica giocatore'" (click)="openPlayer(player.id)">
                    <i class="fa fa-edit"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</app-container-page>
