<app-container-page [menuEntries]="playerCommonService.menuEntries">
  <div class="container pt-4">
    <!-- Presentazione -->
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <p class="card-text">
              Descrizione di MyGRV v2
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-2">

      <!-- Personaggi Creati-->
      <div class="col-md-4 mb-2">
        <div class="card text-white bg-success">
          <div class="card-body">

            <div class="row">
              <div class="col-8 align-self-center">
                <h5 class="card-title mb-0">
                  <i class="fa fa-user"></i>
                  Personaggi creati
                </h5>
              </div>
              <div class="col-4 text-right">
                <div class="btn btn-light btn-lg btn-round text-success">
                  {{ playerCharacters.length }}
                </div>
              </div>
            </div>

          </div>
        </div>

        <button type="button" class="btn btn-primary btn-block mt-2" (click)="openCharactersList()">
          Vai alla gestione personaggi
        </button>
      </div>

      <!-- Live Giocati -->
      <div class="col-md-4 mb-2">
        <div class="card text-white bg-danger">
          <div class="card-body">

            <div class="row">
              <div class="col-8 align-self-center">
                <h5 class="card-title mb-0">
                  <i class="fa fa-calendar"></i>
                  Live Giocati
                </h5>
              </div>
              <div class="col-4 text-right">
                <div class="btn btn-light btn-lg btn-round text-danger">
                  0
                </div>
              </div>
            </div>

          </div>
        </div>

        <button type="button" class="btn btn-primary btn-block mt-2" [disabled]="true">
          Iscriviti al prossimo LIVE
        </button>
      </div>

      <!-- Comunicazioni -->
      <div class="col-md-4 mb-2">
        <div class="card text-white bg-primary">
          <div class="card-body">

            <div class="row">
              <div class="col-8 align-self-center">
                <h5 class="card-title mb-0">
                  <i class="fa fa-bell"></i>
                  Nuovi messaggi
                </h5>
              </div>
              <div class="col-4 text-right">
                <div class="btn btn-light btn-lg btn-round text-primary">
                  0
                </div>
              </div>
            </div>

          </div>
        </div>

        <button type="button" class="btn btn-primary btn-block mt-2" [disabled]="true">
          Vedi tutti i messaggi
        </button>
      </div>

    </div>

  </div>
</app-container-page>
