<app-container-page *ngIf="!!character">
  <div class="container mt-2">
    <div class="row">
      <div class="col-12">
        <h1>Scheda {{ !!character.nome ? 'di ' + character.nome : '' }}</h1>
      </div>
    </div>

    <form
      name="characterForm"
      #characterForm="ngForm"
      (ngSubmit)="saveCharacter()"
    >
      <div class="row">
        <div class="col-md-6 mt-2">
          <div class="form-group">
            <label for="characterName">Nome del personaggio</label>
            <input
              type="text"
              id="characterName"
              name="characterName"
              class="form-control"
              [(ngModel)]="character.nome"
              [disabled]="character.characterApprovationStatus > 0"
            />
          </div>
        </div>
        <div class="col-4 col-md-2 mt-2">
          <div class="form-group text-center">
            <label>PX Usati</label>
            <div class="text-center">{{ usedPx }}</div>
          </div>
        </div>
        <div class="col-4 col-md-2 mt-2">
          <div class="form-group text-center">
            <label>Totali</label>
            <div class="text-center">{{ character.experiencePoints }}</div>
          </div>
        </div>
        <div class="col-4 col-md-2 mt-2">
          <div class="form-group text-center">
            <label>Rimanenti</label>
            <div class="text-center">
              {{ character.experiencePoints - usedPx }}
            </div>
          </div>
        </div>
      </div>

      <!-- Risorse utili -->
      <app-risorse-utili></app-risorse-utili>

      <!-- Pulsanti Switching BG / Scheda -->
      <div class="row">
        <div class="col-sm-12 mt-2">
          <div class="btn-group btn-group-lg">
            <!-- Background -->
            <button
              type="button"
              class="btn"
              [class.btn-primary]="activeSection !== 'bg'"
              [class.btn-default]="activeSection === 'bg'"
              container="body"
              [tooltip]="'Background'"
              (click)="activeSection = 'bg'"
            >
              <i class="fa fa-user"></i>
              <span class="d-none d-md-inline">Background</span>
            </button>
            <!-- Informazioni Generali -->
            <button
              type="button"
              class="btn"
              [class.btn-primary]="activeSection !== 'sc'"
              [class.btn-default]="activeSection === 'sc'"
              container="body"
              [tooltip]="'Informazioni generali'"
              (click)="activeSection = 'sc'"
            >
              <i class="fa fa-file"></i>
              <span class="d-none d-md-inline">Informazioni generali</span>
            </button>
            <!-- Abilità -->
            <button
              type="button"
              class="btn"
              [class.btn-primary]="activeSection !== 'ab'"
              [class.btn-default]="
                activeSection === 'ab' || !(character.id > 0)
              "
              container="body"
              [tooltip]="'Abilità'"
              (click)="activeSection = 'ab'"
            >
              <i class="fa fa-list"></i>
              <span class="d-none d-md-inline">Abilità</span>
            </button>
          </div>
        </div>
      </div>

      <!-- Sezione BG -->
      <div class="row" *ngIf="activeSection === 'bg'">
        <div class="col-12 mt-2">
          <div class="form-group">
            <label for="background">Background</label>
            <p
              *ngIf="
                character.approvationStatus === 0 ||
                character.approvationStatus === 3
              "
            >
              <small
                >Ricordati, una volta completato il background, di scorrere la
                pagina e salvare le modifiche eseguite con il pulsante
                "salva".</small
              >
            </p>
            <quill-editor
              *ngIf="
                character.approvationStatus === 0 ||
                character.approvationStatus === 3
              "
              id="background"
              name="background"
              [(ngModel)]="character.background"
              [style]="{ height: '300px' }"
              [modules]="{ toolbar: [['bold', 'italic', 'underline']] }"
            ></quill-editor>
            <div
              *ngIf="
                character.approvationStatus > 0 &&
                character.approvationStatus !== 3
              "
              class="border border-primary pl-2 pr-2"
              [innerHTML]="character.background"
            ></div>
          </div>
        </div>

        <!-- Richiesta approvazione -->
        <div
          class="col-md-3 offset-sm-9 mt-2"
          *ngIf="
            character.id > 0 &&
            (character.approvationStatus === 0 ||
              character.approvationStatus === 3)
          "
        >
          <button
            type="button"
            class="btn btn-primary btn-block"
            [disabled]="!character.background"
            (click)="requestBackgroundApprovation()"
          >
            Richiedi Approvazione BG
          </button>
        </div>

        <!-- Stato approvazione -->
        <div
          class="col-12 mt-2"
          *ngIf="character.id > 0 && character.approvationStatus > 0"
        >
          <div
            class="col-12 pt-1 pb-1 bg-warning text-dark"
            *ngIf="character.approvationStatus === 1"
          >
            <i class="fa fa-pause"></i> Il tuo background è in attesa di
            approvazione da parte dei master
          </div>
          <div
            class="col-12 pt-1 pb-1 bg-success text-light"
            *ngIf="character.approvationStatus === 2"
          >
            <i class="fa fa-thumbs-up"></i> Il tuo background è stato approvato
          </div>
          <div
            class="col-12 pt-1 pb-1 bg-danger text-light"
            *ngIf="character.approvationStatus === 3"
          >
            <i class="fa fa-thumbs-down"></i> Il tuo background non è stato
            approvato. Controlla le note di seguito per correggerlo
          </div>
        </div>

        <div
          class="col-12 mt-2"
          *ngIf="!!character.playerNotes && character.playerNotes.trim() !== ''"
        >
          <div class="form-group">
            <label>Note dai master</label>
            <div
              class="border border-primary pl-2 pr-2"
              [innerHTML]="character.playerNotes"
            ></div>
          </div>
        </div>
      </div>

      <!-- Sezione Scheda -->
      <div class="row" *ngIf="activeSection === 'sc'">
        <div class="col-md-3 mt-2">
          <div class="form-group">
            <label for="raceId">Razza</label>
            <select
              id="raceId"
              name="raceId"
              class="form-control"
              [(ngModel)]="character.raceId"
              [disabled]="character.characterApprovationStatus > 0"
            >
              <option [value]="entry.key" *ngFor="let entry of races">{{
                entry.value
              }}</option>
            </select>
          </div>
        </div>
        <div class="col-md-3 mt-2">
          <div class="form-group">
            <label for="divinityId">Divinità</label>
            <select
              id="divinityId"
              name="divinityId"
              class="form-control"
              [(ngModel)]="character.divinityId"
              [disabled]="character.characterApprovationStatus > 0"
            >
              <option [value]="entry.key" *ngFor="let entry of divinities">{{
                entry.value
              }}</option>
            </select>
          </div>
        </div>
        <div class="col-md-3 mt-2">
          <div class="form-group">
            <label for="indoleId">Indole</label>
            <select
              id="indoleId"
              name="indoleId"
              class="form-control"
              [(ngModel)]="character.indoleId"
              [disabled]="character.characterApprovationStatus > 0"
            >
              <option [value]="entry.key" *ngFor="let entry of indoles">{{
                entry.value
              }}</option>
            </select>
          </div>
        </div>
        <div class="col-md-3 mt-2">
          <div class="form-group">
            <label for="provenanceId">Provenienza</label>
            <select
              id="provenanceId"
              name="provenanceId"
              class="form-control"
              [(ngModel)]="character.provenanceId"
              [disabled]="character.characterApprovationStatus > 0"
            >
              <option [value]="entry.key" *ngFor="let entry of provenances">{{
                entry.value
              }}</option>
            </select>
          </div>
        </div>
        <div class="col-md-3 mt-2">
          <div class="form-group">
            <label for="focusId">Focus</label>
            <select
              id="focusId"
              name="focusId"
              class="form-control"
              [(ngModel)]="character.focusId"
              [disabled]="character.characterApprovationStatus > 0"
            >
              <option [value]="entry.key" *ngFor="let entry of focuses">{{
                entry.value
              }}</option>
            </select>
          </div>
        </div>

        <!-- Richiesta approvazione -->
        <div
          class="col-md-3 offset-sm-9 mt-2"
          *ngIf="character.id > 0 && character.characterApprovationStatus === 0"
        >
          <button
            type="button"
            class="btn btn-primary btn-block"
            [disabled]="
              !character.raceId ||
              !character.indoleId ||
              !character.provenanceId ||
              !character.focusId
            "
            (click)="requestCharacterApprovation()"
          >
            Richiedi Approvazione PG
          </button>
        </div>

        <!-- Stato approvazione -->
        <div
          class="col-12 mt-2"
          *ngIf="character.id > 0 && character.characterApprovationStatus > 0"
        >
          <div
            class="col-12 pt-1 pb-1 bg-warning text-dark"
            *ngIf="character.characterApprovationStatus === 1"
          >
            <i class="fa fa-pause"></i> Il tuo personaggio è in attesa di
            approvazione da parte dei master
          </div>
          <div
            class="col-12 pt-1 pb-1 bg-success text-light"
            *ngIf="character.characterApprovationStatus === 2"
          >
            <i class="fa fa-thumbs-up"></i> Il tuo personaggio è stato approvato
          </div>
          <div
            class="col-12 pt-1 pb-1 bg-danger text-light"
            *ngIf="character.characterApprovationStatus === 3"
          >
            <i class="fa fa-thumbs-down"></i> Il tuo personaggio non è stato
            approvato. Sarai contattato a breve da un master
          </div>
        </div>
      </div>

      <!-- Sezione Abilità -->
      <div class="row" *ngIf="activeSection === 'ab'">
        <!-- Abilità base -->
        <div class="col-md-4 mt-2">
          <div class="form-group">
            <label for="searchBaseSkill">Ricerca Abilità</label>
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                name="searchBaseSkill"
                id="searchBaseSkill"
                [(ngModel)]="searchBaseSkillTerm"
              />
              <div class="intput-group-btn">
                <button type="button" class="btn btn-default">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </div>

          <table class="table table-striped table-bordered table-sm mb-0">
            <thead>
              <tr>
                <th class="text-center">Abilità base</th>
              </tr>
            </thead>
          </table>
          <div class="scrollable">
            <table class="table table-striped table-bordered table-sm">
              <tbody>
                <tr
                  *ngFor="
                    let skill of (baseSkills
                      | FilterSkills
                        : character.selectedSkills
                        : searchBaseSkillTerm)
                  "
                >
                  <td>
                    <button
                      type="button"
                      class="btn btn-link btn-sm"
                      (click)="toggleSkill(skill)"
                    >
                      <i
                        class="fa fa-plus"
                        *ngIf="
                          character.experiencePoints - usedPx >= skill.costopx
                        "
                      ></i>
                      {{ skill.nome }}
                    </button>
                  </td>
                  <td class="text-center">
                    <button
                      type="button"
                      class="btn btn-link btn-sm"
                      container="body"
                      [tooltip]="'Dettagli abilità ' + skill.nome"
                      (click)="openSkillDetail(skill)"
                    >
                      <span class="fa-stack">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-info fa-inverse fa-stack-1x"></i>
                      </span>
                    </button>
                  </td>
                  <td class="text-right">{{ skill.costopx }} px</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!-- Abilità con dipendenze -->
        <div class="col-md-4 mt-2">
          <div class="form-group">
            <label for="searchUnlockedSkill">Ricerca Abilità</label>
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                name="searchUnlockedSkill"
                id="searchUnlockedSkill"
                [(ngModel)]="searchUnlockedSkillTerm"
              />
              <div class="intput-group-btn">
                <button type="button" class="btn btn-default">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </div>

          <table class="table table-striped table-bordered table-sm mb-0">
            <thead>
              <tr>
                <th class="text-center">Abilità sbloccate</th>
              </tr>
            </thead>
          </table>
          <div class="scrollable">
            <table class="table table-striped table-bordered table-sm">
              <tbody>
                <tr
                  *ngFor="
                    let skill of (unlockedSkills
                      | FilterSkills
                        : character.selectedSkills
                        : searchUnlockedSkillTerm)
                  "
                >
                  <td>
                    <button
                      type="button"
                      class="btn btn-link btn-sm"
                      (click)="toggleSkill(skill)"
                    >
                      <i
                        class="fa fa-plus"
                        *ngIf="
                          character.experiencePoints - usedPx >= skill.costopx
                        "
                      ></i>
                      {{ skill.nome }}
                    </button>
                  </td>
                  <td class="text-center">
                    <button
                      type="button"
                      class="btn btn-link btn-sm"
                      container="body"
                      [tooltip]="'Dettagli abilità ' + skill.nome"
                      (click)="openSkillDetail(skill)"
                    >
                      <span class="fa-stack">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-info fa-inverse fa-stack-1x"></i>
                      </span>
                    </button>
                  </td>
                  <td class="text-right">{{ skill.costopx }} px</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!-- Le tue abilità scelte -->
        <div class="col-md-4 mt-2">
          <div class="form-group">
            <label for="searchSelectedSkill">Ricerca Abilità</label>
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                name="searchSelectedSkill"
                id="searchSelectedSkill"
                [(ngModel)]="searchSelectedSkillTerm"
              />
              <div class="intput-group-btn">
                <button type="button" class="btn btn-default">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </div>

          <table class="table table-striped table-bordered table-sm mb-0">
            <thead>
              <tr>
                <th class="text-center">Le tue abilità scelte</th>
              </tr>
            </thead>
          </table>
          <div class="scrollable">
            <table class="table table-striped table-bordered table-sm">
              <tbody>
                <tr
                  *ngFor="
                    let skill of (character.selectedSkills
                      | FilterSkills: null:searchSelectedSkillTerm)
                  "
                >
                  <td>
                    <button
                      type="button"
                      class="btn btn-link btn-sm"
                      (click)="toggleSkill(skill)"
                    >
                      <i class="fa fa-minus" *ngIf="!skill.validato"></i>
                      {{ skill.nome }}
                    </button>
                  </td>
                  <td class="text-center">
                    <button
                      type="button"
                      class="btn btn-link btn-sm"
                      container="body"
                      [tooltip]="'Dettagli abilità ' + skill.nome"
                      (click)="openSkillDetail(skill)"
                    >
                      <span class="fa-stack">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-info fa-inverse fa-stack-1x"></i>
                      </span>
                    </button>
                  </td>
                  <td class="text-right">{{ skill.costopx }} px</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!-- Richiesta approvazione -->
        <div
          class="col-md-3 offset-sm-9 mt-2"
          *ngIf="character.id > 0 && character.skillsApprovationStatus === 0"
        >
          <button
            type="button"
            class="btn btn-primary btn-block"
            (click)="requestSkillsApprovation()"
          >
            Richiedi Revisione Abilità
          </button>
        </div>

        <!-- Stato approvazione -->
        <div
          class="col-12 mt-2"
          *ngIf="character.id > 0 && character.skillsApprovationStatus > 0"
        >
          <div
            class="col-12 pt-1 pb-1 bg-warning text-dark"
            *ngIf="character.skillsApprovationStatus === 1"
          >
            <i class="fa fa-pause"></i> Le tue abilità sono in attesa di
            revisione
          </div>
          <div
            class="col-12 pt-1 pb-1 bg-success text-light"
            *ngIf="character.skillsApprovationStatus === 2"
          >
            <i class="fa fa-thumbs-up"></i> Le tue abilità sono state
            revisionate e validate
          </div>
          <div
            class="col-12 pt-1 pb-1 bg-danger text-light"
            *ngIf="character.skillsApprovationStatus === 3"
          >
            <i class="fa fa-thumbs-down"></i> Le tue abilità non hanno superato
            la revisione. Sarai presto contattato da un master
          </div>
        </div>
      </div>
      <!-- Operazioni -->
      <div class="row">
        <div class="col-md-3 offset-md-6 mt-2">
          <button
            type="button"
            class="btn btn-default btn-block"
            (click)="goToList()"
          >
            Indietro
          </button>
        </div>
        <div class="col-md-3 mt-2">
          <button
            type="submit"
            class="btn btn-primary btn-block"
            [disabled]="!characterForm.valid"
          >
            Salva
          </button>
        </div>
      </div>
    </form>
  </div>
</app-container-page>
