@import '../node_modules/bootstrap/scss/bootstrap'
@import './assets/sass/font.sass'
@import './assets/sass/colors.sass'

/* Classi Generiche */
html
  height: 100%

body
  height: 100%
  font-family: $main-font

.BgColor__Main
  background-color: $bg-color-main

.FgColor__Main
  color: $fg-color-main
  a
    color: $fg-color-main
    &:hover
      color: $fg-color-hover-main

/* Helper allineamenti tabelle */
.align-self-center
  align-self: center

/* Helper pulsanti */
.btn-round
  border-radius: 500px
